{% extends 'baron-v2/base.html' %}
{% load static %}

{% block title %}
    افزودن شرکت
{% endblock %}
{% block css %}
{% endblock %}


{% block body %}

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background: #759D6F;">
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'transactions' %}">تمامی تراکنش ها</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_transaction' %}">افزودن مبادله</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'addcompany' %}">افزودن شرکت</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admint' %}">مدیریت ساعت کاری</a>
                </li>
            </ul>
        </div>

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="{% url 'logout' %}">خروج</a>
        </div>
      </li>
    </ul>
    </nav>
    <!--/.Navbar-->

    <div class="container">
        <form method="post">
        {% csrf_token %}
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                      <input style="text-align: right;" type="text" id="exampleForm2" class="form-control" name="name" placeholder="نام شرکت">
                </div>
                <div class="col-md-3">
                    <select name="parent" class="browser-default custom-select">
                        <option> شرکت پدر را انتخاب کنید</option>
                        {% for company in companies %}
                            <option value="{{ company.id }}">{{ company.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success">ذخیره</button>
                </div>
                <div class="col-md-3"></div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        {% if error %}
            alert("ثبت شرکت با خطا مواجه شده است.");
        {% elif result %}
            alert("ثبت شرکت با موفقیت انجام شد.");
        {% endif %}
    </script>
{% endblock %}
